@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import "tailwindcss";
html {
    scroll-behavior: smooth;

}
body { 
    font-family: 'Oranienbaum', serif;
    min-height: 100%;
    min-height: -webkit-fill-available;
    background-color: #BCB196;
}