@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import "tailwindcss";
html {
    background-color: #BCB196;
    background-image: url('/websitebg.jpeg');
    background-repeat: repeat;
    background-position: top;
    background-size: 150% auto;
    scroll-behavior: smooth;
  }
  
  body { 
    font-family: 'Oranienbaum', serif;
    min-height: 100vh;
    background: transparent;
  }
  
  @media (min-width: 768px) {
    html {
      background-size: cover;
    }
  }